# Environment
.env
__pycache__/
*.pyc
.pytest_cache/
venv

# Data
*.zip
*.csv
energy_prices_backup.sql 
# docker compose exec -T postgres psql -U griduser -d globalgrid < energy_prices_backup.sql

# Editor
.vscode/
.idea/